.card {
  font-size: 26px;
  color:aqua;
  border: 1.5px solid black;

  padding: 20px;
}

.textRed {
    color: red;
}
.textBlue {
    color: blue;
}
.textGreen {
    color: green;
}

.gradiente {
    color:rgb(255, 0, 0);
    /* background: linear-gradient(to left, red, indigo); */
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    width: 300px; 
    /* height: 50px; */
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
    ;


}

.gradiente p{
    /* border: 1px solid black; */
    width: 100px;
}
.uniao{
    border: 1px solid black;
    width: 120px;
}