
body {
    /* width: 100%; */
    /* height: 100%; */
}

.cabecalho {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    row-gap: 10px;
    background: white;

    border: 1px solid black;

    padding: 0px 0px 0px 20px;

    width: 100%;
    height: 50px;

}

.menu_esquerdo span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 25px;
    height: 2px;

}