*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.button__teste{
    margin: 30%;

}

body{
    height:100dvh;
    width:100dvw;
}

header {
    background-color: #1d2a35;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.links {
    color: white;
    list-style: none;
    height: 100%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    
}

.img__arrow{
    position: relative;
    left: 98px;
    display: row;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap:4px;

    padding: 8px 16px;
    border-radius: 50%;

}

.menu:hover{
    cursor: pointer;
    background-color: #00aa6d;

    

}

/* #hover:hover{
    background-color: #00aa6d;
    border-radius: 50%;
} */

/* #position__hover{
    position: absolute;
    left: 2px;
    top: 200px;
} */
.menu__icon{
    width:4px;
    height:4px;
    
    display: relative;

    background-color:white;
    border-radius:100%;
    
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#search {
    padding: 10px 0px 10px 15px;
    border-radius: 20px;
    border: none;
}

.signIn {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #00aa6d;
    border: none;
    cursor: pointer;
    color: white;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    
}


#notificacao{
    content:'';
    height:18px;
    width:18px; 
    background-color:red;
    border-radius:100%;
    
    right:15px;
    bottom:10px;
    border:2px solid white;
}

#notificacao::before{
    content:'3';
    color:white;
    position:relative;
    left:5px;
    top:-2px;
    font-size:12px;
    font-weight:bold;
}


#formulario{
    padding:10px;
    display:grid;
    gap:10px;
}

#email{
    padding:10px 0 10px 30px;
    border-radius:12px;
    border:1px solid #ccc;
}

#formulario img{
    width:20px;
    height:20px;
    position:relative;
    left:30px;
    top:5.5px;
}