html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

#paused, #start {
    position: absolute;
    
    margin: 0;
    padding: 5px 15px;

    border-radius: 25px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 25px;
    font-weight: bolder;

    color: white;
    background-color: rgba(128, 128, 128, 0.774);

    /* -webkit-text-stroke: 1px black; */

    pointer-events: none; /* não bloqueia o mouse */
    /* z-index: 10; */
}

#debug_ui {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    
    top: 10px;
    left: 10px;
    
    color: white;
}

/*tem que ficar acima de '#debug_ui > span'*/
#debug_ui span {
    padding-left: 10px;
}

#debug_ui > span {
    background-color: rgba(136, 136, 136, 0.329);
    
    padding: 0px 4px 0px 1px;
    
    width: fit-content;
}

#player_UI{
    margin: 0px;
    position: absolute;
    
    top: 10px;
    left: 10px;
}

#UI {
    margin: 0px;
    position: absolute;

    top: 10px;
    right: 10px;
}

#player_UI p, #UI p {
    margin: 0px;
    padding-bottom: 5px;

    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    
    color: white;
}

#game_over {
    position: absolute;
    
    margin: 0;
    padding: 5px 15px;

    border-radius: 25px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 25px;
    font-weight: bolder;

    color: white;
    background-color: rgba(128, 128, 128, 0.774);

    pointer-events: none; /* não bloqueia o mouse */
    /* z-index: 10; */
}

.hidden {
    visibility: hidden;
}