.link__button{

    background-color: lightgray;
    border: 0.5px solid black;
    
    border-radius: 6px;
    padding: 3px 8px;


    color: black;
    font-weight: 100;

    font-size: larger;

    text-decoration: none;


}